body {
    height: 100%;
    overflow: auto;
    background: url('/static/img/bg2.JPG');
    background-size: cover;
}

header {
    background: rgba(95, 95, 95, 0.33);
    width: 100%;
    padding: 0 1rem;

    display: flex;
    flex-direction: row;

    justify-content: space-around;

    h1 {
        font-family:'Courier New', Courier, monospace;
        font-size: 2rem;
        display: flex;
        align-items: center;
    }

    nav {
        ul {
            display: flex;
            flex-direction: row;
            gap:1.5rem;

            li > a {
                color: #1c1c1c;
                padding: 1rem;
                display: flex;
                text-decoration: none;
            }

            li > a:hover {
                font-weight: bold;
            }
        }
    }
}